@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #171717;
  --background: #ffffff;
  --contrast: #e5e5e5;
  --contrast2: #d1d1d1;
  --navlink: #555555;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ffffff;
    --background: #171717;
    --contrast: #242424;
    --contrast2: #343434;
    --navlink: #999999;
  }
}

body {
  position: relative;
  margin: 0;
  min-height: 100vh;
  color: var(--foreground);
  background: var(--background);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body::after {
  display: block;
  content: '';
  height: 75px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: .5rem 1rem;

  @media screen and (min-width: 768px) {
    padding: 1rem 3rem;
  }
}

